EMAIL_HOST_USER="demao@gmail.com"
EMAIL_HOST_PASSWORD="dsdsdsdsdsdsdd"
SECRET_KEY= 'django-insecure-n_fjv09=v#x2^n^8iy#n5-gs*)'
OPENAI_API_KEY="sk-xxxxxxx"
OPENAI_API_MODEL="gpt-4o"
GOOGLE_APPLICATION_CREDENTIALS="/backend/core/google-credentials/vision-api-credentials.json"