# ENV files (all envs everywhere)
.env
.env.*
**/.env
**/.env.*

# Python virtual environments
.venv/
**/.venv/

# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
